In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-01-07 19:24:42,22.0752,-159.3190,75.20,73,1,10.36
1,1,Edson,CA,2021-01-07 19:24:42,53.5835,-116.4356,23.00,68,1,2.30
2,2,Hilo,US,2021-01-07 19:24:37,19.7297,-155.0900,75.20,64,20,5.75
3,3,Teknaf,BD,2021-01-07 19:24:43,20.8624,92.3058,70.16,62,0,7.02
4,4,Port Alfred,ZA,2021-01-07 19:24:44,-33.5906,26.8910,69.01,89,0,7.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations,
    weights=[max(temp, 0) for temp in max_temp],
    dissipating=False,
    max_intensity=200,
    point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=200, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2021-01-07 19:24:42,22.0752,-159.3190,75.20,73,1,10.36
2,2,Hilo,US,2021-01-07 19:24:37,19.7297,-155.0900,75.20,64,20,5.75
5,5,Beloha,MG,2021-01-07 19:24:44,-25.1667,45.0500,76.66,85,68,5.57
7,7,Meulaboh,ID,2021-01-07 19:24:45,4.1363,96.1285,76.91,88,90,4.97
10,10,Busselton,AU,2021-01-07 19:24:45,-33.6500,115.3333,75.99,42,100,3.00
11,11,Buala,SB,2021-01-07 19:24:46,-8.1450,159.5921,80.78,80,79,6.87
15,15,Rikitea,PF,2021-01-07 19:24:47,-23.1203,-134.9692,77.67,72,100,8.70
17,17,Nouakchott,MR,2021-01-07 19:24:47,18.0858,-15.9785,75.20,57,0,11.50
18,18,Hithadhoo,MV,2021-01-07 19:21:46,-0.6000,73.0833,82.40,80,100,19.69
29,29,Vila Velha,BR,2021-01-07 19:24:51,-20.3297,-40.2925,89.01,61,0,19.57

In [26]:
preferred_cities_df.count()

City_ID       169
City          169
Country       169
Date          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0        Kapaa      US     75.20  22.0752 -159.3190
2         Hilo      US     75.20  19.7297 -155.0900
5       Beloha      MG     76.66 -25.1667   45.0500
7     Meulaboh      ID     76.91   4.1363   96.1285
10   Busselton      AU     75.99 -33.6500  115.3333
11       Buala      SB     80.78  -8.1450  159.5921
15     Rikitea      PF     77.67 -23.1203 -134.9692
17  Nouakchott      MR     75.20  18.0858  -15.9785
18   Hithadhoo      MV     82.40  -0.6000   73.0833
29  Vila Velha      BR     89.01 -20.3297  -40.2925

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [32]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,75.20,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
2,Hilo,US,75.20,19.7297,-155.0900,Hilo Hawaiian Hotel
5,Beloha,MG,76.66,-25.1667,45.0500,
7,Meulaboh,ID,76.91,4.1363,96.1285,Kost Pria
10,Busselton,AU,75.99,-33.6500,115.3333,Observatory Guest House
11,Buala,SB,80.78,-8.1450,159.5921,Maringe Lagoon Lodge
15,Rikitea,PF,77.67,-23.1203,-134.9692,Pension Maro'i
17,Nouakchott,MR,75.20,18.0858,-15.9785,Hôtel Iman
18,Hithadhoo,MV,82.40,-0.6000,73.0833,Scoop Guest House
29,Vila Velha,BR,89.01,-20.3297,-40.2925,Hotel Vitória Palace

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [38]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))